opt_detail_10_rain_1_goal_0.45.csv
opt_detail_10_rain_1_goal_0.5.csv
opt_detail_10_rain_1_goal_0.55.csv
opt_detail_10_rain_1_goal_0.6.csv
opt_detail_10_rain_1_goal_0.65.csv
opt_detail_10_rain_1_goal_0.csv
opt_detail_10_rain_1_goal_1.csv
opt_detail_11_rain_1_goal_0.csv
opt_detail_11_rain_1_goal_1.csv
opt_detail_12_rain_1_goal_0.csv
opt_detail_12_rain_1_goal_1.csv
opt_detail_13_rain_1_goal_0.csv
opt_detail_13_rain_1_goal_1.csv
opt_detail_14_rain_1_goal_0.csv
opt_detail_14_rain_1_goal_1.csv
opt_detail_15_rain_1_goal_0.csv
opt_detail_15_rain_1_goal_1.csv
opt_detail_1_rain_1_goal_0.45.csv
opt_detail_1_rain_1_goal_0.5.csv
opt_detail_1_rain_1_goal_0.55.csv
opt_detail_1_rain_1_goal_0.6.csv
opt_detail_1_rain_1_goal_0.65.csv
opt_detail_1_rain_1_goal_0.75.csv
opt_detail_1_rain_1_goal_0.csv
opt_detail_1_rain_1_goal_1.csv
opt_detail_1_rain_2_goal_0.45.csv
opt_detail_1_rain_2_goal_0.5.csv
opt_detail_1_rain_2_goal_0.55.csv
opt_detail_1_rain_2_goal_0.6.csv
opt_detail_1_rain_2_goal_0.65.csv
opt_detail_1_rain_2_goal_0.7.csv
opt_detail_1_rain_2_goal_0.75.csv
opt_detail_1_rain_2_goal_0.csv
opt_detail_1_rain_2_goal_1.csv
opt_detail_1_rain_3_goal_0.45.csv
opt_detail_1_rain_3_goal_0.5.csv
opt_detail_1_rain_3_goal_0.55.csv
opt_detail_1_rain_3_goal_0.6.csv
opt_detail_1_rain_3_goal_0.65.csv
opt_detail_1_rain_3_goal_0.7.csv
opt_detail_1_rain_3_goal_0.75.csv
opt_detail_1_rain_3_goal_0.csv
opt_detail_1_rain_3_goal_1.csv
opt_detail_1_rain_4_goal_0.45.csv
opt_detail_1_rain_4_goal_0.5.csv
opt_detail_1_rain_4_goal_0.55.csv
opt_detail_1_rain_4_goal_0.6.csv
opt_detail_1_rain_4_goal_0.65.csv
opt_detail_1_rain_4_goal_0.75.csv
opt_detail_1_rain_4_goal_0.csv
opt_detail_1_rain_4_goal_1.csv
opt_detail_1_rain_5_goal_0.45.csv
opt_detail_1_rain_5_goal_0.5.csv
opt_detail_1_rain_5_goal_0.55.csv
opt_detail_1_rain_5_goal_0.6.csv
opt_detail_1_rain_5_goal_0.65.csv
opt_detail_1_rain_5_goal_0.75.csv
opt_detail_1_rain_5_goal_0.csv
opt_detail_1_rain_5_goal_1.csv
opt_detail_2_rain_1_goal_0.45.csv
opt_detail_2_rain_1_goal_0.5.csv
opt_detail_2_rain_1_goal_0.55.csv
opt_detail_2_rain_1_goal_0.6.csv
opt_detail_2_rain_1_goal_0.65.csv
opt_detail_2_rain_1_goal_0.75.csv
opt_detail_2_rain_1_goal_0.csv
opt_detail_2_rain_1_goal_1.csv
opt_detail_2_rain_2_goal_0.45.csv
opt_detail_2_rain_2_goal_0.5.csv
opt_detail_2_rain_2_goal_0.55.csv
opt_detail_2_rain_2_goal_0.6.csv
opt_detail_2_rain_2_goal_0.65.csv
opt_detail_2_rain_2_goal_0.7.csv
opt_detail_2_rain_2_goal_0.75.csv
opt_detail_2_rain_2_goal_0.csv
opt_detail_2_rain_2_goal_1.csv
opt_detail_2_rain_3_goal_0.45.csv
opt_detail_2_rain_3_goal_0.5.csv
opt_detail_2_rain_3_goal_0.55.csv
opt_detail_2_rain_3_goal_0.6.csv
opt_detail_2_rain_3_goal_0.65.csv
opt_detail_2_rain_3_goal_0.7.csv
opt_detail_2_rain_3_goal_0.75.csv
opt_detail_2_rain_3_goal_0.csv
opt_detail_2_rain_3_goal_1.csv
opt_detail_2_rain_4_goal_0.45.csv
opt_detail_2_rain_4_goal_0.5.csv
opt_detail_2_rain_4_goal_0.55.csv
opt_detail_2_rain_4_goal_0.6.csv
opt_detail_2_rain_4_goal_0.65.csv
opt_detail_2_rain_4_goal_0.75.csv
opt_detail_2_rain_4_goal_0.csv
opt_detail_2_rain_4_goal_1.csv
opt_detail_2_rain_5_goal_0.45.csv
opt_detail_2_rain_5_goal_0.5.csv
opt_detail_2_rain_5_goal_0.55.csv
opt_detail_2_rain_5_goal_0.6.csv
opt_detail_2_rain_5_goal_0.65.csv
opt_detail_2_rain_5_goal_0.75.csv
opt_detail_2_rain_5_goal_0.csv
opt_detail_2_rain_5_goal_1.csv
opt_detail_3_rain_1_goal_0.45.csv
opt_detail_3_rain_1_goal_0.5.csv
opt_detail_3_rain_1_goal_0.55.csv
opt_detail_3_rain_1_goal_0.6.csv
opt_detail_3_rain_1_goal_0.65.csv
opt_detail_3_rain_1_goal_0.75.csv
opt_detail_3_rain_1_goal_0.csv
opt_detail_3_rain_1_goal_1.csv
opt_detail_3_rain_2_goal_0.45.csv
opt_detail_3_rain_2_goal_0.5.csv
opt_detail_3_rain_2_goal_0.55.csv
opt_detail_3_rain_2_goal_0.6.csv
opt_detail_3_rain_2_goal_0.65.csv
opt_detail_3_rain_2_goal_0.7.csv
opt_detail_3_rain_2_goal_0.75.csv
opt_detail_3_rain_2_goal_0.csv
opt_detail_3_rain_2_goal_1.csv
opt_detail_3_rain_3_goal_0.45.csv
opt_detail_3_rain_3_goal_0.5.csv
opt_detail_3_rain_3_goal_0.55.csv
opt_detail_3_rain_3_goal_0.6.csv
opt_detail_3_rain_3_goal_0.65.csv
opt_detail_3_rain_3_goal_0.7.csv
opt_detail_3_rain_3_goal_0.75.csv
opt_detail_3_rain_3_goal_0.csv
opt_detail_3_rain_3_goal_1.csv
opt_detail_3_rain_4_goal_0.45.csv
opt_detail_3_rain_4_goal_0.5.csv
opt_detail_3_rain_4_goal_0.55.csv
opt_detail_3_rain_4_goal_0.6.csv
opt_detail_3_rain_4_goal_0.65.csv
opt_detail_3_rain_4_goal_0.75.csv
opt_detail_3_rain_4_goal_0.csv
opt_detail_3_rain_4_goal_1.csv
opt_detail_3_rain_5_goal_0.45.csv
opt_detail_3_rain_5_goal_0.5.csv
opt_detail_3_rain_5_goal_0.55.csv
opt_detail_3_rain_5_goal_0.6.csv
opt_detail_3_rain_5_goal_0.65.csv
opt_detail_3_rain_5_goal_0.75.csv
opt_detail_3_rain_5_goal_0.csv
opt_detail_3_rain_5_goal_1.csv
opt_detail_4_rain_1_goal_0.45.csv
opt_detail_4_rain_1_goal_0.5.csv
opt_detail_4_rain_1_goal_0.55.csv
opt_detail_4_rain_1_goal_0.6.csv
opt_detail_4_rain_1_goal_0.65.csv
opt_detail_4_rain_1_goal_0.75.csv
opt_detail_4_rain_1_goal_0.csv
opt_detail_4_rain_1_goal_1.csv
opt_detail_4_rain_2_goal_0.45.csv
opt_detail_4_rain_2_goal_0.5.csv
opt_detail_4_rain_2_goal_0.55.csv
opt_detail_4_rain_2_goal_0.6.csv
opt_detail_4_rain_2_goal_0.65.csv
opt_detail_4_rain_2_goal_0.7.csv
opt_detail_4_rain_2_goal_0.75.csv
opt_detail_4_rain_2_goal_0.csv
opt_detail_4_rain_2_goal_1.csv
opt_detail_4_rain_3_goal_0.45.csv
opt_detail_4_rain_3_goal_0.5.csv
opt_detail_4_rain_3_goal_0.55.csv
opt_detail_4_rain_3_goal_0.6.csv
opt_detail_4_rain_3_goal_0.65.csv
opt_detail_4_rain_3_goal_0.7.csv
opt_detail_4_rain_3_goal_0.75.csv
opt_detail_4_rain_3_goal_0.csv
opt_detail_4_rain_3_goal_1.csv
opt_detail_4_rain_4_goal_0.45.csv
opt_detail_4_rain_4_goal_0.5.csv
opt_detail_4_rain_4_goal_0.55.csv
opt_detail_4_rain_4_goal_0.6.csv
opt_detail_4_rain_4_goal_0.65.csv
opt_detail_4_rain_4_goal_0.75.csv
opt_detail_4_rain_4_goal_0.csv
opt_detail_4_rain_4_goal_1.csv
opt_detail_4_rain_5_goal_0.45.csv
opt_detail_4_rain_5_goal_0.5.csv
opt_detail_4_rain_5_goal_0.55.csv
opt_detail_4_rain_5_goal_0.6.csv
opt_detail_4_rain_5_goal_0.65.csv
opt_detail_4_rain_5_goal_0.75.csv
opt_detail_4_rain_5_goal_0.csv
opt_detail_4_rain_5_goal_1.csv
opt_detail_5_rain_1_goal_0.45.csv
opt_detail_5_rain_1_goal_0.5.csv
opt_detail_5_rain_1_goal_0.55.csv
opt_detail_5_rain_1_goal_0.6.csv
opt_detail_5_rain_1_goal_0.65.csv
opt_detail_5_rain_1_goal_0.75.csv
opt_detail_5_rain_1_goal_0.csv
opt_detail_5_rain_1_goal_1.csv
opt_detail_5_rain_2_goal_0.45.csv
opt_detail_5_rain_2_goal_0.5.csv
opt_detail_5_rain_2_goal_0.55.csv
opt_detail_5_rain_2_goal_0.6.csv
opt_detail_5_rain_2_goal_0.65.csv
opt_detail_5_rain_2_goal_0.7.csv
opt_detail_5_rain_2_goal_0.75.csv
opt_detail_5_rain_2_goal_0.csv
opt_detail_5_rain_2_goal_1.csv
opt_detail_5_rain_3_goal_0.45.csv
opt_detail_5_rain_3_goal_0.5.csv
opt_detail_5_rain_3_goal_0.55.csv
opt_detail_5_rain_3_goal_0.6.csv
opt_detail_5_rain_3_goal_0.65.csv
opt_detail_5_rain_3_goal_0.7.csv
opt_detail_5_rain_3_goal_0.75.csv
opt_detail_5_rain_3_goal_0.csv
opt_detail_5_rain_3_goal_1.csv
opt_detail_5_rain_4_goal_0.45.csv
opt_detail_5_rain_4_goal_0.5.csv
opt_detail_5_rain_4_goal_0.55.csv
opt_detail_5_rain_4_goal_0.6.csv
opt_detail_5_rain_4_goal_0.65.csv
opt_detail_5_rain_4_goal_0.75.csv
opt_detail_5_rain_4_goal_0.csv
opt_detail_5_rain_4_goal_1.csv
opt_detail_5_rain_5_goal_0.45.csv
opt_detail_5_rain_5_goal_0.5.csv
opt_detail_5_rain_5_goal_0.55.csv
opt_detail_5_rain_5_goal_0.6.csv
opt_detail_5_rain_5_goal_0.65.csv
opt_detail_5_rain_5_goal_0.75.csv
opt_detail_5_rain_5_goal_0.csv
opt_detail_5_rain_5_goal_1.csv
opt_detail_6_rain_1_goal_0.45.csv
opt_detail_6_rain_1_goal_0.5.csv
opt_detail_6_rain_1_goal_0.55.csv
opt_detail_6_rain_1_goal_0.6.csv
opt_detail_6_rain_1_goal_0.65.csv
opt_detail_6_rain_1_goal_0.csv
opt_detail_6_rain_1_goal_1.csv
opt_detail_7_rain_1_goal_0.45.csv
opt_detail_7_rain_1_goal_0.5.csv
opt_detail_7_rain_1_goal_0.55.csv
opt_detail_7_rain_1_goal_0.6.csv
opt_detail_7_rain_1_goal_0.65.csv
opt_detail_7_rain_1_goal_0.csv
opt_detail_7_rain_1_goal_1.csv
opt_detail_8_rain_1_goal_0.45.csv
opt_detail_8_rain_1_goal_0.5.csv
opt_detail_8_rain_1_goal_0.55.csv
opt_detail_8_rain_1_goal_0.6.csv
opt_detail_8_rain_1_goal_0.65.csv
opt_detail_8_rain_1_goal_0.csv
opt_detail_8_rain_1_goal_1.csv
opt_detail_9_rain_1_goal_0.45.csv
opt_detail_9_rain_1_goal_0.5.csv
opt_detail_9_rain_1_goal_0.55.csv
opt_detail_9_rain_1_goal_0.6.csv
opt_detail_9_rain_1_goal_0.65.csv
opt_detail_9_rain_1_goal_0.csv
opt_detail_9_rain_1_goal_1.csv
